.root {
    margin: 5px;
    width: '25ch',
}

.search {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:5px;
    padding:5px;
    border-radius:10px;
}

.textfield {
    color: white;
    background:white;
    border-radius:10px;
}